# Virtual environments
.venv/
venv/
**/venv/
**/.venv/

# Pycache
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd

# Data folders
data/
**/data/
db.sqlite3
**/db.sqlite3
data/chromadb_data/
**/chromadb_data/

# Environment files
*.env

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

