# Virtual environments
.venv/
BACKEND_DJANGO/.venv/
Chatbot/.venv/

# Pycache
__pycache__/
*.py[cod]
*$py.class

# Data folders
data/
Chatbot/data/
db.sqlite3
BACKEND_DJANGO/db.sqlite3

# Environment files
*.env
