# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# Environment variables
.env
api.env

# Data / outputs
data/chromadb_data/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
